/*
!/.gitignore
!/.gitattributes
!/README.md
!/LICENSE
!/bao_cao/
!/thuyet_trinh/
!/demo/
!/experiment/
!/dataset/
!/ket_qua/
!/du_lieu/
!/release_manifest.json
__pycache__/
.pytest_cache/
*.pyc
.venv/
.env
.env.*
dataset/downloads/
dataset/data/
dataset/results/prepared_v1/**/*.npz
demo/ket_qua_*/
